:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway",  sans-serif;
    --nav-font: "Raleway",  sans-serif;
  }
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }
  /* global */
  :root {
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #2f3138; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #0e1b4d; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #1bbca3; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  }
  /* menu color */
  :root {
    --nav-color: rgba(255, 255, 255, 0.65);  /* The default color of the main navmenu links */
    --nav-hover-color: #ffffff; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #212529; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #f82249; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
  }
  
  .light-background {
    --background-color: #f2f2f3;
    --surface-color: #ffffff;
  }
  
  .dark-background {
    --background-color: #000820;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #001553;
    --contrast-color: #ffffff;
  }
  .ml-4 {
    margin-left: 2em;
  }
  .ml-3 {
    margin-left: 1.5em;
  }
  .mb-3{
    margin-bottom: 2em;
  }
  .horizontal-line {
    border-top: 0.5px solid #e5e5e5;
    margin-bottom: 20px;
    margin-inline: 5vh;
    /* margin-left: 8em; */
  }
  .horizontal-line-black {
    border-top: 0.5px solid #4a4a4ad2;
    margin-inline: 16vh;
    /* margin-left: 8em; */
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(1.2); 
      opacity: 0.6; 
    }
    100% {
      transform: scale(1); 
      opacity: 1; 
    }
  }
  /*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/
  body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
  }
  
  a {
    color: var(--background-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
      width: 100%;
      height: 100vh;
      background-color: rgba(21, 27, 26, 0.7);
      overflow: hidden;
      padding: 0;
    }
    
    #hero .carousel-item {
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation: zoomIn 1.2s ease-out forwards;
    }
    
    #hero .carousel-item::before {
      content: "";
      background-color: rgba(21, 27, 26, 0.7);
      position: absolute;
      height: 100vh;
      width: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
    
    #hero .carousel-container {
      display: flex;
      justify-content: center;
      align-items: end;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
    
    #hero .carousel-content {
      text-align: left;
      padding-bottom: 40px;
      display: flex;
      justify-content: center;
    }
    #hero .carousel-content .row {
      align-items: center;
      /* margin-right: 6em; */
      max-width: 90%;
      line-height: 1.3em;
    }
  
  
    
    #hero h2 {
      color: #fff;
      margin-bottom: 30px;
      font-size: 48px;
      font-weight: 700;
    }
    
    #hero p {
      width: 80%;
      animation-delay: 0.4s;
      margin: 0 auto 0 auto;
      color: #fff;
    }
    
    #hero .carousel-inner .carousel-item {
      transition-property: opacity;
      background-position: center top;
    }
    
    #hero .carousel-inner .carousel-item,
    #hero .carousel-inner .active.carousel-item-start,
    #hero .carousel-inner .active.carousel-item-end {
      opacity: 0;
    }
    
    #hero .carousel-inner .active,
    #hero .carousel-inner .carousel-item-next.carousel-item-start,
    #hero .carousel-inner .carousel-item-prev.carousel-item-end {
      opacity: 1;
      transition: 0.5s;
    }
    
    #hero .carousel-inner .carousel-item-next,
    #hero .carousel-inner .carousel-item-prev,
    #hero .carousel-inner .active.carousel-item-start,
    #hero .carousel-inner .active.carousel-item-end {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
    
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
      width: 10%;
    }
    
    #hero .carousel-control-next-icon,
    #hero .carousel-control-prev-icon {
      background: none;
      font-size: 48px;
      line-height: 1;
      width: auto;
      height: auto;
    }
    
    #hero .carousel-indicators li {
      list-style-type: none;
      cursor: pointer;
      opacity: 1;
    }
    
    #hero .carousel-indicators .active {
      background-color: #1bbca3;
    }
    
    #hero .btn-get-started {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 12px 32px;
      border-radius: 50px;
      transition: 0.5s;
      line-height: 1;
      margin: 10px;
      color: #fff;
      animation-delay: 0.8s;
      border: 2px solid #1bbca3;
    }
    
    #hero .btn-get-started:hover {
      background: #1bbca3;
      color: #fff;
      text-decoration: none;
    }
    
    @media (max-width: 768px) {
      #hero h2 {
        font-size: 28px;
      }
    }
    
    @media (min-width: 1024px) {
      #hero p {
        width: 60%;
      }
    
      #hero .carousel-control-prev,
      #hero .carousel-control-next {
        width: 5%;
      }
    }
  
    /* floating WA */
    .whatsapp-float {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px; 
      right: 40px; 
      background-color: #25d366; 
      color: #fff;
      border-radius: 50px; 
      text-align: center;
      font-size: 30px;
      box-shadow: 2px 2px 3px #999; 
      z-index: 1000; 
    }
    
    .whatsapp-float i {
      margin-top: 15px; 
    }
    
    .whatsapp-float:hover {
      background-color: #128c7e;
    }
  
  
  
    /*--------------------------------/*
    header section
    /*--------------------------------*/
    .header {
      --background-color: rgba(0, 0, 0, 0);
      --heading-color: #ffffff;
      color: var(--default-color);
      background-color: var(--background-color);
      padding: 20px 0;
      transition: all 0.5s;
      z-index: 997;
    }
    
    .header .logo {
      line-height: 1;
    }
    
    .header .logo img {
      max-height: 36px;
      margin-right: 8px;
    }
    
    .header .logo h1 {
      font-size: 30px;
      margin: 0;
      font-weight: 700;
      color: var(--heading-color);
    }
    
    .header .cta-btn,
    .header .cta-btn:focus {
      color: var(--contrast-color);
      background: var(--accent-color);
      font-size: 14px;
      padding: 8px 25px;
      margin: 0 0 0 30px;
      border-radius: 50px;
      transition: 0.3s;
    }
    
    .header .cta-btn:hover,
    .header .cta-btn:focus:hover {
      color: var(--contrast-color);
      background: color-mix(in srgb, var(--accent-color), transparent 15%);
    }
    
    @media (max-width: 1200px) {
      .header .logo {
        order: 1;
      }
    
      .header .btn-getstarted {
        order: 2;
        margin: 0 15px 0 0;
        padding: 6px 15px;
      }
    
      .header .navmenu {
        order: 3;
      }
    }
    
    .scrolled .header {
      box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
    }
    
    /* Global Header on Scroll
    ------------------------------*/
    .scrolled .header {
      --background-color: rgba(1, 8, 33, 0.82);
    }
    /* Desktop Navigation */
  @media (min-width: 1200px) {
    .navmenu {
      padding: 0;
    }
  
    .navmenu ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
  
    .navmenu li {
      position: relative;
    }
  
    .navmenu>ul>li {
      white-space: nowrap;
      padding: 15px 14px;
    }
  
    .navmenu>ul>li:last-child {
      padding-right: 0;
    }
  
    .navmenu a,
    .navmenu a:focus {
      color: var(--nav-color);
      font-size: 15px;
      padding: 0 2px;
      font-family: var(--nav-font);
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
      position: relative;
    }
  
    .navmenu a i,
    .navmenu a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      transition: 0.3s;
    }
  
    .navmenu>ul>li>a:before {
      content: "";
      position: absolute;
      height: 2px;
      bottom: -6px;
      left: 0;
      background-color: var(--accent-color);
      visibility: hidden;
      width: 0px;
      transition: all 0.3s ease-in-out 0s;
    }
  
    .navmenu a:hover:before,
    .navmenu li:hover>a:before,
    .navmenu .active:before {
      visibility: visible;
      width: 100%;
    }
  
    .navmenu li:hover>a,
    .navmenu .active,
    .navmenu .active:focus {
      color: var(--nav-hover-color);
    }
  
    .navmenu .dropdown ul {
      margin: 0;
      padding: 10px 0;
      background: var(--nav-dropdown-background-color);
      display: block;
      position: absolute;
      visibility: hidden;
      left: 14px;
      top: 130%;
      opacity: 0;
      transition: 0.3s;
      border-radius: 4px;
      z-index: 99;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }
  
    .navmenu .dropdown ul li {
      min-width: 200px;
    }
  
    .navmenu .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      color: var(--nav-dropdown-color);
    }
  
    .navmenu .dropdown ul a i {
      font-size: 12px;
    }
  
    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover>a {
      color: var(--nav-dropdown-hover-color);
    }
  
    .navmenu .dropdown:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
  
    .navmenu .dropdown .dropdown ul {
      top: 0;
      left: -90%;
      visibility: hidden;
    }
  
    .navmenu .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: -100%;
      visibility: visible;
    }
  }
  
  /* Mobile Navigation */
  @media (max-width: 1199px) {
    .mobile-nav-toggle {
      color: var(--nav-color);
      font-size: 28px;
      line-height: 0;
      margin-right: 10px;
      cursor: pointer;
      transition: color 0.3s;
    }
  
    .navmenu {
      padding: 0;
      z-index: 9997;
    }
  
    .navmenu ul {
      display: none;
      position: absolute;
      inset: 60px 20px 20px 20px;
      padding: 10px 0;
      margin: 0;
      border-radius: 6px;
      background-color: var(--nav-dropdown-background-color);
      border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
      box-shadow: none;
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
    }
  
    .navmenu a,
    .navmenu a:focus {
      color: var(--nav-dropdown-color);
      padding: 10px 20px;
      font-family: var(--nav-font);
      font-size: 17px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .navmenu a i,
    .navmenu a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.3s;
      background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
    }
  
    .navmenu a i:hover,
    .navmenu a:focus i:hover {
      background-color: var(--accent-color);
      color: var(--contrast-color);
    }
  
    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
      color: var(--nav-dropdown-hover-color);
    }
  
    .navmenu .active i,
    .navmenu .active:focus i {
      background-color: var(--accent-color);
      color: var(--contrast-color);
      transform: rotate(180deg);
    }
  
    .navmenu .dropdown ul {
      position: static;
      display: none;
      z-index: 99;
      padding: 10px 0;
      margin: 10px 20px;
      background-color: var(--nav-dropdown-background-color);
      transition: all 0.5s ease-in-out;
    }
  
    .navmenu .dropdown ul ul {
      background-color: rgba(33, 37, 41, 0.1);
    }
  
    .navmenu .dropdown>.dropdown-active {
      display: block;
      background-color: rgba(33, 37, 41, 0.03);
    }
  
    .mobile-nav-active {
      overflow: hidden;
    }
  
    .mobile-nav-active .mobile-nav-toggle {
      color: #fff;
      position: absolute;
      font-size: 32px;
      top: 15px;
      right: 15px;
      margin-right: 0;
      z-index: 9999;
    }
  
    .mobile-nav-active .navmenu {
      position: fixed;
      overflow: hidden;
      inset: 0;
      background: rgba(33, 37, 41, 0.8);
      transition: 0.3s;
    }
  
    .mobile-nav-active .navmenu>ul {
      display: block;
    }
  }
  
    /*--------------------------------/*
    lulusan section
    /*--------------------------------*/
  
  #lulusan .container{
    margin-top: 4em;
  }
  #lulusan .container h2{
    font-weight: bolder;
  }
  #lulusan .container a{
    color: var(--heading-color);
    font-weight: 700;
    margin-top: 4em;
  }
  
  /*--------------------------------------------------------------
  # about Section
  --------------------------------------------------------------*/
  .about {
    --background-color: color-mix(in srgb, var(--alt-background-color), transparent 95%);
    text-align: right;
    margin-top: 5vh;
    margin-bottom: 18vh;
  
  }
  
  .about .nav-tabs {
    text-align: center;
    margin: auto;
    display: block;
    border-bottom: 0;
    margin-bottom: 30px;
    text-align-last: left;
  }
  
  .about .nav-tabs li {
    display: inline-block;
    margin-bottom: 0;
  }
  
  .about .nav-tabs a {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    background-color: var(--heading-color);
    color: var(--contrast-color);
    padding: 10px 100px;
  }
  
  @media (max-width: 991px) {
    .about .nav-tabs{
      text-align-last: center;
    }
    .about .nav-tabs a {
      padding: 8px 60px;
    }
  }
  
  @media (max-width: 767px) {
    .about .nav-tabs{
      text-align-last: center;
    }
    .about .nav-tabs a {
      padding: 8px 50px;
      margin-top: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .about .nav-tabs{
      text-align-last: center;
    }
    .about .nav-tabs a {
      padding: 8px 30px;
      margin-top: 10px;
    }
  }
  
  .about .nav-tabs a.active {
    background-color: var(--accent-color);
    color: var(--contrast-color);
  }
  
  .about .sub-heading {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto 30px auto;
  }
  
  @media (min-width: 991px) {
    .about .sub-heading {
      width: 75%;
    }
  }
  
  .about .tab-pane {
    transition: ease-in-out 0.2s;
    width: fit-content;
  }
  
  .about .about-item {
    margin-top: 3em;
    border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color ease-in-out 0.3s;
  }
  
  .about .about-item time {
    padding-bottom: 5px;
    display: inline-block;
  }
  
  .about .about-item .speaker {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 10px 10px 0;
  }
  
  .about .about-item .speaker img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
  }
  
  .about .about-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .about .about-item h4 span {
    font-style: italic;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    font-weight: normal;
    font-size: 16px;
  }
  
  .about .about-item p {
    font-style: italic;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin-bottom: 0;
  }
  
  /*---------------------------------------/* 
  card section
  /*---------------------------------------*/
  :root {
    --cover-timing: 0.5s; 
    --cover-ease: cubic-bezier(0.66, 0.08, 0.19, 0.97);
    --cover-stagger: 0.15s;
    
    --text-timing: .75s;
    --text-stagger: 0.015s;
    --text-ease: cubic-bezier(0.38, 0.26, 0.05, 1.07);
    
    --title-stagger: 0.05s;
    --highlight: white;
  }
  
  
  .card {
    
    position: relative;
    overflow: hidden;
    aspect-ratio: 4/5;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    
    /* border-radius: 7px; */
    box-shadow:
      rgba(255,255,255,0.3) 0 5vw 6vw -8vw,
      rgba(255,255,255,0) 0 4.5vw 5vw -6vw,
      rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, 
      rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
    
    transition: box-shadow 1s var(--cover-ease);
    
    & > * {
      z-index: 2;
    }
    
    & > img {
      z-index: 0;
      transition: all .8s cubic-bezier(0.66, 0.08, 0.19, 0.97);;
    }
    
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 50%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.5);
      position: absolute;
      transform-origin: left;
      transform: scaleX(0);
      transition: all var(--cover-timing) var(--cover-ease);
      z-index: 1;
    }
    
    &::after {
      transition-delay: var(--cover-stagger);
      top: 50%;
    }
    
    &:hover,
    &:focus {
    
      box-shadow: 
        white 0 5vw 6vw -9vw,
        var(--highlight) 0 5.5vw 5vw -7.5vw,
        rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, 
        rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
     
      &::before,
      &::after {
        transform: scaleX(1);
      }
  
      & h2 .char,
      & p .word, & a .word  {
        opacity: 1;
        transform: translateY(0);
        color: white;
      }
      & a .word {
        text-decoration: underline; /* Menambahkan garis bawah pada teks di dalam elemen <a> */
      }
  
      & h2 .char {
        transition-delay: calc(0.1s + var(--char-index) * var(--title-stagger));
      }
      
      & p .word {
        transition-delay: calc(0.1s + var(--word-index) * var(--text-stagger));
      }
      & a .word {
        transition-delay: calc(0.1s + var(--word-index) * var(--text-stagger));
      }
      
      & img {
        transform: scale(1.2); 
        filter: blur(4px); 
      }
      
    }
    
    &:nth-of-type(1) {
      --highlight: coral;
    }
    
    &:nth-of-type(2) {
      --highlight: #56ffe5;
    }
    &:nth-of-type(2) {
      --highlight: #56ffe5;
    }
    
  }
  
  .text {
    position: absolute;
    inset: 20px;
    top: auto;
  }
  
  .card h2 {
    font-size: 30px;
    font-size: clamp(20px, 4vw, 40px);
    font-weight: 800;
    color: var(--surface-color);
    margin-bottom: 0.2em;
  }
  
  .card p, .card a {
    font-size: 12px;
    font-size: clamp(10px, 1.25vw, 14px);
    line-height: 1.4;
    text-align: justify;
    margin-top: 0.2em;
    margin-bottom: 0;
    color: var(--surface-color);
  }
  
  .card h2 .char, 
  .card p .word, .card a .word {
    color: var(--highlight);
    display: inline-block;
    opacity: 0;
    position: relative;
    transform: translateY(20px);
    transition-property: transform, opacity, color; 
    transition-timing-function: var(--text-ease);
    transition-duration: var(--text-timing), var(--text-timing), calc(var(--text-timing)*2);
  }
  
  .card img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
  }
  /* layout stuff */
  
  .card {
    
    width: 90vw;
    max-width: 300px;
    
    @media screen and (min-width: 600px) {
      width: 40vw;
    }
    
  }
  
  .card h1 {
    color: #5b6377;
    font-weight: 100;
    
    @media screen and (min-width: 600px) {
      grid-column: 1/3;
    }
    
  }
  
  /* -----------------------------------------/*
  logo section
  /* -----------------------------------------*/
  .gallery {
    overflow: hidden;
    margin-bottom: 8em;
  }
  
  .gallery .container{
    margin-top: 20px;
    width: 100%;
  }
  .gallery .swiper-wrapper {
    height: auto;
    display: flex;
  }
  
  .gallery .swiper-pagination {
    position: relative;
  }
  
  .gallery .swiper-pagination .swiper-pagination-bullet {
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
    width: 12px;
    height: 12px;
    opacity: 1;
  }
  
  .gallery .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--accent-color);
  }
  
  .gallery .swiper-slide {
    text-align: center;
  }
  
  .gallery .swiper-slide-active {
    text-align: center;
  }
  
  @media (min-width: 992px) {
    .gallery .swiper-wrapper {
      padding: 40px 0;
    }
  
    .gallery .swiper-slide-active {
      background: var(--background-color);
      /* border: 6px solid var(--accent-color); */
      padding: 4px;
      z-index: 1;
      transform: scale(1.2);
      transition: none;
    }
  }
  .gallery img{
   background-size: cover; 
   height: 20vh;
  }
  
  
  
  /*--------------------------------------------------------------
  # Faq Section
  --------------------------------------------------------------*/
  .faq{
    margin-top: 25vh;
  }
  
  .faq .section-title{
    text-align: center;
    margin-bottom: 5vh;
  }
  
  .faq .faq-container .faq-item {
    background-color: var(--surface-color);
    position: relative;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .faq .faq-container .faq-item:last-child {
    margin-bottom: 0;
  }
  
  .faq .faq-container .faq-item h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0 30px 0 0;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .faq .faq-container .faq-item h3 .num {
    color: var(--accent-color);
    padding-right: 5px;
  }
  
  .faq .faq-container .faq-item h3:hover {
    color: var(--accent-color);
  }
  
  .faq .faq-container .faq-item .faq-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }
  
  .faq .faq-container .faq-item .faq-content p {
    margin-bottom: 0;
    overflow: hidden;
  }
  
  .faq .faq-container .faq-item .faq-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    line-height: 0;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .faq .faq-container .faq-item .faq-toggle:hover {
    color: var(--accent-color);
  }
  
  .faq .faq-container .faq-active {
    background-color: color-mix(in srgb, var(--accent-color), transparent 97%);
    border-color: color-mix(in srgb, var(--accent-color), transparent 80%);
  }
  
  .faq .faq-container .faq-active h3 {
    color: var(--accent-color);
  }
  
  .faq .faq-container .faq-active .faq-content {
    grid-template-rows: 1fr;
    visibility: visible;
    opacity: 1;
    padding-top: 10px;
  }
  
  .faq .faq-container .faq-active .faq-toggle {
    transform: rotate(90deg);
    color: var(--accent-color);
  }
  
  
  /*--------------------------------------------------------------
  # Info Box
  --------------------------------------------------------------*/
  .info-box .content {
    padding: 60px 100px 0 100px;
  }
  .info-box .container-fluid {
    
    margin-top: 8em;
    margin-bottom: 11em;
    background-color: var(--heading-color);
  }
  
  .info-box .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: white;
  }
  
  .info-box .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
  }
  
  .info-box .content p {
    font-size: 15px;
    color: #6b8a86;
  }
  
  .info-box .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
  }
  
  .info-box .accordion-list {
    padding: 0 100px 60px 100px;
  }
  
  .info-box .accordion-list ul {
    padding: 0;
    list-style: none;
  }
  
  .info-box .accordion-list li+li {
    margin-top: 15px;
  }
  
  .info-box .accordion-list li {
    padding: 20px;
    background: #f2f5f4;
    border-radius: 5px;
  }
  
  .info-box .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    transition: ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .info-box .accordion-list a:hover {
    color: #1bbca3;
  }
  
  .info-box .accordion-list span {
    color: #e83e8c;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
  }
  
  .info-box .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .info-box .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  
  .info-box .accordion-list .icon-show {
    display: none;
  }
  
  .info-box .accordion-list a.collapsed {
    color: #343a40;
  }
  
  .info-box .accordion-list a.collapsed:hover {
    color: #1bbca3;
  }
  
  .info-box .accordion-list a.collapsed .icon-show {
    display: inline-block;
  }
  
  .info-box .accordion-list a.collapsed .icon-close {
    display: none;
  }
  
  @media (max-width: 1024px) {
  
    .info-box .content,
    .info-box .accordion-list {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media (max-width: 992px) {
    .info-box {
      /* img {
        padding-top: 30px;
      } */
    }
  
    .info-box .content {
      padding-top: 30px;
    }
  
    .info-box .accordion-list {
      padding-bottom: 30px;
    }
  }
  
  /*-----------------------------------------/*
  article section
  /*-----------------------------------------*/
  /* .band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  
  @media only screen and (min-width: 500px) {
    .band {
      grid-template-columns: 1fr 1fr;
    }  
  }
  
  @media only screen and (min-width: 850px) {
    .band {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  .band .card {
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    transition: all .1s ease-in;
  }
  
  .band .card:hover {
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    transform: translateY(-2px);
  }
  
  .band .card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center;
  }
  
  .band .card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .band h1 {
    font-size: 18px;
    margin: 0;
    color: #333;
  }
  
  .band .card p {
    flex: 1;
    line-height: 1.4;
  }
  
  .band .card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-top: 10px;
  } */
  
  
  /* -----------------------------------------/*
  Achievement section
  /* -----------------------------------------*/
  .achievement {
    overflow: hidden;
    margin-top: 5em;
    margin-bottom: 7em;
    margin: 0 auto;
  }
  .achievement .section-title{
    text-align: center;
  }
  
  .achievement h2{
    font-weight: bolder;
  }
  
  .visi-misi .container{
    max-width: 1240px;
    display: flex;
    justify-content: center;
    /* text-align: left; */
  }
  .visi-misi .img{
    max-width: 140px;
    /* text-align: left; */
  }
  
  @media (min-width: 992px) {
    achievement .swiper-wrapper {
      padding: 20px 0;
    }
  
    .achievement .swiper-slide-active {
      background: var(--background-color);
      /* border: 6px solid var(--accent-color); */
      padding: 4px;
      z-index: 1;
      transform: scale(1.4);
      transition: none;
    }
  }
  .achievement img{
   background-size: cover; 
  }
  
  /*--------------------------------------------------------------
  
  
  
  
  
  # Visi & Misi
  
  
  
  
  --------------------------------------------------------------*/
  
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #sub-hero {
    width: 100%;
    height: 20vh;
    background-color: rgba(21, 27, 26, 0.7);
    overflow: hidden;
    padding: 0;
  }
  
  #sub-hero .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: zoomIn 1.2s ease-out forwards;
  }
  
  #sub-hero .carousel-item::before {
    content: "";
    background-color: rgba(21, 27, 26, 0.7);
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #sub-hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #sub-hero .carousel-content {
    text-align: left;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  #sub-hero .carousel-content .row {
    align-items: center;
    /* margin-right: 6em; */
    max-width: 90%;
    line-height: 1.3em;
  }
  
  
  
  #sub-hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #sub-hero p {
    width: 80%;
    animation-delay: 0.4s;
    margin: 0 auto 0 auto;
    color: #fff;
  }
  
  
  /*--------------------------------------------------------------
  # visi dan misi Section
  --------------------------------------------------------------*/
  .visi-misi {
    --default-color: #ffffff;
    text-align: center;
    margin-top: 10vh;
  }
  .visi-misi h1 {
    font-size: 30px;
    
    margin: 0;
    font-weight: 700;
    color: var(--heading-color);
  }
  .visi-misi h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background: var(--accent-color);
    bottom: 0;
    left: 0;
  }
  
  .visi-misi .row{
    align-items: center;
    max-width: 90%;
    display: flex;
    justify-content: space-evenly;
  }
  /*--------------------------------------------------------------
  # Global Footer
  --------------------------------------------------------------*/
  .footer {
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    position: relative;
  }
  
  .footer .footer-top {
    background-color: color-mix(in srgb, var(--background-color), white 5%);
    padding-top: 50px;
  }
  
  .footer .footer-about .logo {
    line-height: 1;
    margin-bottom: 25px;
  }
  
  .footer .footer-about .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-about .logo span {
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .footer .footer-about p {
    font-size: 14px;
    font-family: var(--heading-font);
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 15px;
  }
  
  /* .footer h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background: var(--accent-color);
    bottom: 0;
    left: 0;
  } */
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    padding-right: 2px;
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: var(--accent-color);
  }
  
  .footer .footer-contact p {
    margin-bottom: 5px;
  }
  
  .footer .copyright {
    padding: 30px 0;
  }
  
  .footer .copyright p {
    margin-bottom: 0;
  }
  
  .footer .credits {
    margin-top: 5px;
    font-size: 13px;
  }
  
  .footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: color-mix(in srgb, var(--default-color), transparent 90%);
    color: var(--contrast-color);
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    background: var(--accent-color);
    text-decoration: none;
  }
  
  
  /*--------------------------------------------------------------
  
  
  
  
  
  # Sambutan Kepala sekolah
  
  
  
  
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Info Box
  --------------------------------------------------------------*/
  .kepala-sekolah-box .content {
    padding: 60px 100px 0 100px;
  }
  .kepala-sekolah-box .container-fluid {
    
    margin-top: 3em;
    margin-bottom: 5em;
    background-color: var(--heading-color);
  }
  
  .kepala-sekolah-box .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: white;
  }
  
  .kepala-sekolah-box .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
  }
  
  .kepala-sekolah-box .content p {
    font-size: 15px;
    color: #6b8a86;
  }
  
  .kepala-sekolah-box .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
  }
  
  .kepala-sekolah-box .accordion-list {
    padding: 0 100px 60px 100px;
  }
  
  .kepala-sekolah-box .accordion-list ul {
    padding: 0;
    list-style: none;
  }
  
  .kepala-sekolah-box .accordion-list li+li {
    margin-top: 15px;
  }
  
  .kepala-sekolah-box .accordion-list li {
    padding: 20px;
    background: #f2f5f4;
    border-radius: 5px;
  }
  
  .kepala-sekolah-box .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    transition: ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .kepala-sekolah-box .accordion-list a:hover {
    color: #1bbca3;
  }
  
  .kepala-sekolah-box .accordion-list span {
    color: #e83e8c;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
  }
  
  .kepala-sekolah-box .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .kepala-sekolah-box .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  
  .kepala-sekolah-box .accordion-list .icon-show {
    display: none;
  }
  
  .kepala-sekolah-box .accordion-list a.collapsed {
    color: #343a40;
  }
  
  .kepala-sekolah-box .accordion-list a.collapsed:hover {
    color: #1bbca3;
  }
  
  .kepala-sekolah-box .accordion-list a.collapsed .icon-show {
    display: inline-block;
  }
  
  .kepala-sekolah-box .accordion-list a.collapsed .icon-close {
    display: none;
  }
  
  @media (max-width: 1024px) {
  
    .kepala-sekolah-box .content,
    .kepala-sekolah-box .accordion-list {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media (max-width: 992px) {
    .kepala-sekolah-box {
      /* img {
        padding-top: 30px;
      } */
    }
  
    .kepala-sekolah-box .content {
      padding-top: 30px;
    }
  
    .kepala-sekolah-box .accordion-list {
      padding-bottom: 30px;
    }
  }
  /*--------------------------------------------------------------
  # identitas sekolah
  --------------------------------------------------------------*/
  identitas-sekolah-box {
    background-color: var(--background-color);
    padding: 40px 0;
  }
  
  .identitas-sekolah-box h3 {
    color: #333;
    margin-bottom: 2em;
    text-align: center; 
  }
  
  .identitas-sekolah-box table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
  }
  
  .identitas-sekolah-box table td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
  
  .identitas-sekolah-box table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .identitas-sekolah-box .row {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .highlight-row {
    background-color: var(--heading-color);
    color: white; 
  }
  
  /*--------------------------------------------------------------
  # Counts
  --------------------------------------------------------------*/
  .counts {
    margin-bottom: 8em;
  }
  .counts .count-box {
    box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 2em;
    /* margin-bottom: 8em; */
    width: 100%;
    background: #fff;
  }
  .counts .section-title{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 5vh;
  }
  .counts .row {
    /* align-items: center; Menengahkan konten secara vertikal */
    display: flex;
    justify-content: center; /* Menengahkan konten secara horizontal */
  }
  
  .counts .count-box i {
    display: block;
    font-size: 34px;
    color: #1bbca3;
    float: left;
    line-height: 0;
  }
  
  .counts .count-box span {
    font-size: 42px;
    line-height: 24px;
    display: block;
    font-weight: 700;
    color: #58716d;
    margin-left: 50px;
  }
  
  .counts .count-box p {
    padding: 30px 0 0 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }
  
  .counts .count-box a {
    font-weight: 600;
    display: block;
    margin-top: 20px;
    color: #7c9995;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    transition: ease-in-out 0.3s;
  }
  
  .counts .count-box a:hover {
    color: #a7bbb8;
  }
  
  /*--------------------------------------------------------------
  # Counts
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # ruang-lain Section
  --------------------------------------------------------------*/
  .ruang-lain {
    --default-color: #ffffff;
    margin-bottom: 6em;
  }
  
  .ruang-lain .section-title {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  .ruang-lain .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    /* gap: 20px; */
  }
  
  .ruang-lain .member {
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%; 
  }
  
  .ruang-lain .member img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
  }
  
  .ruang-lain .member .member-info {
    position: absolute;
    padding: 15px 0;
    inset: auto 0 -44px 0;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    width: 100%;
  }
  
  .ruang-lain .member .member-info-content h4 {
    color: var(--contrast-color);
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 16px;
  }
  
  .ruang-lain .member .member-info-content h4 a {
    color: var(--contrast-color);
  }
  
  .ruang-lain .member .member-info-content h4 a:hover {
    color: var(--accent-color);
  }
  
  .ruang-lain .member .member-info-content span {
    font-style: italic;
    display: block;
    color: var(--contrast-color);
    font-size: 13px;
  }
  
  .ruang-lain .member .social {
    text-align: center;
    padding-top: 10px;
  }
  
  .ruang-lain .member .social a {
    transition: color 0.3s;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin: 0 4px;
    display: inline-block;
  }
  
  .ruang-lain .member .social a:hover {
    color: var(--default-color);
  }
  
  .ruang-lain .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  
  .ruang-lain .member:hover .member-info {
    bottom: 0;
  }
  /*--------------------------------------------------------------
  # activity Section
  --------------------------------------------------------------*/
  .activity .container-fluid {
    margin-bottom: 3px;
  }
  
  .activity .activity-map iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
  }
  
  .activity .activity-info {
    background: url("../img/landingpage/lapangan\ upacara.jpg") top center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .activity .activity-info:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .activity .activity-info h3 {
    font-size: 36px;
    font-weight: 700;
    color: var(--contrast-color);
  }
  
  @media (max-width: 574px) {
    .activity .activity-info h3 {
      font-size: 24px;
    }
  }
  
  .activity .activity-info p {
    color: var(--contrast-color);
    margin-bottom: 0;
  }
  
  .activity .activity-gallery-container {
    padding-right: 12px;
  }
  
  .activity .activity-gallery {
    overflow: hidden;
    display: block;
    border-right: 3px solid var(--background-color);
    border-bottom: 3px solid var(--background-color);
    position: relative; 
    height: 200px;
  }
  
  .activity .activity-gallery img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    transition: all ease-in-out 0.4s;
  }
  
  .activity .activity-gallery:hover img {
    transform: scale(1.1); 
  }
  
  
  /*--------------------------------------------------------------
  # Global Page Titles & Breadcrumbs
  --------------------------------------------------------------*/
  .page-title {
    --background-color: #0e1b4d;
    --heading-color: var(--contrast-color);
    --default-color: var(--contrast-color);
    color: var(--default-color);
    background-color: var(--background-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 160px 0 80px 0;
    text-align: center;
    position: relative;
  }
  
  .page-title:before {
    content: "";
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    position: absolute;
    inset: 0;
  }
  
  .page-title h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .page-title .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
  
  .page-title .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .page-title .breadcrumbs ol li+li::before {
    content: "/";
    display: inline-block;
    padding-right: 10px;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
  }
  
  /*--------------------------------------------------------------
  # visi-misi Section
  --------------------------------------------------------------*/
  .visi-misi .details h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .visi-misi .details .social {
    margin-bottom: 15px;
  }
  
  .visi-misi .details .social a {
    background: color-mix(in srgb, var(--default-color), transparent 92%);
    color: color-mix(in srgb, #2f3138, transparent 30%);
    line-height: 1;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .visi-misi .details .social a:hover {
    background: var(--accent-color);
    color: #2f3138;
  }
  
  .visi-misi .details .social a i {
    font-size: 16px;
    line-height: 0;
  }
  
  .visi-misi .details p {
    color: color-mix(in srgb, #2f3138, transparent 30%);
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  
  /*--------------------------------------------------------------
  # Ekstrakulikuler Section
  --------------------------------------------------------------*/
  .ekstrakulikuler .pricing-item {
    background-color: var(--surface-color);
    box-shadow: 0 3px 20px -2px rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
    position: relative;
  }
  
  .ekstrakulikuler .pricing-item h3 {
    font-weight: 700;
    margin-bottom: 0;
    font-size: 24px;
  }
  
  .ekstrakulikuler .pricing-item h4 {
    font-size: 48px;
    color: var(--accent-color);
    font-weight: 400;
    font-family: var(--heading-font);
    margin-bottom: 25px;
    text-align: center;
  }
  
  .ekstrakulikuler .pricing-item h4 sup {
    font-size: 28px;
  }
  
  .ekstrakulikuler .pricing-item h4 span {
    color: color-mix(in srgb, var(--default-color), transparent 60%);
    font-size: 18px;
  }
  
  .ekstrakulikuler .pricing-item ul {
    padding: 20px 0;
    list-style: none;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    text-align: left;
    line-height: 20px;
  }
  
  .ekstrakulikuler .pricing-item ul li {
    padding-top: 15px;
    display: flex;
    align-items: center;
  }
  
  .ekstrakulikuler .pricing-item ul i {
    color: #059652;
    font-size: 24px;
    padding-right: 3px;
  }
  
  .ekstrakulikuler .pricing-item ul .na {
    color: color-mix(in srgb, var(--default-color), transparent 60%);
  }
  
  .ekstrakulikuler .pricing-item ul .na i {
    color: color-mix(in srgb, var(--default-color), transparent 60%);
  }
  
  .ekstrakulikuler .pricing-item ul .na span {
    text-decoration: line-through;
  }
  
  .ekstrakulikuler .buy-btn {
    color: var(--contrast-color);
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    transition: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    font-family: var(--heading-font);
  }
  
  .ekstrakulikuler .buy-btn:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
  }
  
  .ekstrakulikuler .featured {
    background: var(--accent-color);
  }
  
  .ekstrakulikuler .featured h3,
  .ekstrakulikuler .featured h4,
  .ekstrakulikuler .featured h4 span,
  .ekstrakulikuler .featured ul,
  .ekstrakulikuler .featured ul .na,
  .ekstrakulikuler .featured ul i,
  .ekstrakulikuler .featured ul .na i {
    color: var(--contrast-color);
  }
  
  .ekstrakulikuler .featured .buy-btn {
    background: var(--accent-color);
    color: var(--contrast-color);
    border-color: var(--contrast-color);
  }
  
  .ekstrakulikuler .featured .buy-btn:hover {
    background: color-mix(in srgb, var(--accent-color) 90%, black 15%);
    color: var(--contrast-color);
  }

   
  /*--------------------------------------------------------------
  # Academic Section
  --------------------------------------------------------------*/
  #academic-calendar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height, adjust as needed */
}

#academic-calendar img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto;
}